openai
requests
beautifulsoup4
lxml
python-dotenv
pydantic
tiktoken
faiss-cpu
numpy
pandas
langchain
transformers
torch
PyPDF2
sentence-transformers
fastapi
uvicorn
streamlit
yfinance
scikit-learn
prophet
tensorflow
plotly
tf-keras
